{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block js %}
            <script type="text/javascript" src="{% static 'js/jquery-2.0.2.min.js' %}"></script>
        {% endblock %}
    </body>
</html>

